body{
    margin: 0 auto;
    max-width: 1500px;
    min-width: 700px;
    background-color: F5F5F5;
}
ul{
    list-style: none;
}
.header{
    background-image: url(../images/фон.jpg);
    width: 100%;
    height: 700px;
}
.header-img{
    margin: 144px 255px 350px;
}
.menu{
    margin: 32px ;
    padding-left: 78px;

text-transform: uppercase;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #000000;
}
.cards{
    display: grid;
    align-content: space-between;
    justify-items: center;
    margin-left: 0;
    margin-right: 38px;
    padding-bottom: 66px;
    padding-top: 19px;
   
    width: 400px;
    height: 460px;
    box-sizing: border-box;
       background: #231B0C;
}
.cards-box{
      
    display: flex;
    justify-content: center;
    
}
.banner{
    display: flex;
    justify-content: center;
}
.banner-img{
    width: 1276px;
    
}
.footer{
    margin: 40px;
width: 1500px;
height: 279px;
left: -1px;
top: 1948px;
background: #150F02;
}
.contacts{
width: 100%;
display: flex;
justify-content: center;
}

.contacts-title{
border-bottom: 10px solid #FF6B00;
width: 318px;
text-align: center;
text-transform: uppercase;
font-family: 'Roboto';
font-style: normal;
margin: 0;
padding-bottom: 9px;
font-weight: 500;
font-size: 20px;
line-height: 137.21%;
letter-spacing: 0.15em;
color: #FFFFFF;
}
.departments{
    margin: 0;
    padding: 0 500px;
   
    display: flex;
    flex-direction: column;
   
}
    
.departments-two{
    margin: 0 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
.social{
    padding: 0;
margin: 0 20px;
   display: flex;
   justify-content: center;
  
}
.social-links{
    padding: 20px;
}
