body{background-color: #F5F5F5;

}
a{
    text-decoration: none;
    
}

h3{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #0072DB;

}
ul{
    list-style-type: none;
}

.main_content{
    margin: 0; width: 1000px;
    background-color: white;
}

.blue{
        font-family: "M PLUS 1", sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 0.1em;
        color: #3E45E8;
}

.yellow{
        font-family: "M PLUS 1", sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 0.1em;
        color: #E8C23E;
}
.header{
    text-align: center;
    margin-top: 25px;
    
    
}
.cards_header{
        text-align: left;
        padding-top: 48px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        color: #000000;
}
.cards > div{
        margin: 10px;
        width: 300px;
        height: 400px;
        background: #FFFFFF;
        border: 5px solid #0D095F;
        border-radius: 30px;  
        display: inline-block;
        vertical-align: middle;
        
        
        
}.cards{
        padding-top: 42px;
        
         /* display: flex;
        align-items: center;
        justify-content: space-around; */
}.cards_img{
       width: 300px;
}
.card_descr{
            padding-left: 10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;  
            color: #FF9900;
}
   .shadow1{
    filter: drop-shadow(-6px 21px 10px rgba(0, 209, 255, 0.35));
   }
.shadow2{
    filter: drop-shadow(0px 21px 10px rgba(0, 209, 255, 0.35));
}
.shadow3{
    filter: drop-shadow(6px 21px 10px rgba(0, 209, 255, 0.35));
}
.map_header{
        text-align: center;
        border-bottom: solid 7px #1400FF;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 40px;
        line-height: 157.3%;
        width: 70%;
        margin-left: 15%;
            
}
.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.btn{
        margin-top: 23px;
        margin-bottom: 42px;
        text-align: center;
}

.text_but{
            background: #2a61f0;
            padding: 10px 208px;
            color: #ffffff;
            font-family: inherit;
            font-weight: 700;
            font-size: 64px;
            line-height: 1.57;
            border-radius: 50px;
            border: none;
            font-family: 'Montserrat';
}
* .footer{
    display: block;
    text-align: center;
    background: linear-gradient(180deg, #013235 0%, #0d0661 100%);
    height: 250px;
} 
* .icons{
    text-align: center;
    
}
.contacts{
        text-align: center;
        font-family: 'Marcellus SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        color: #A89D9D;
        margin: 0;
        width: 100%;
        
        
} 
.social{
    text-align: center;
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;
    
}
 .link{
    text-align: center;
    font-family: "Marcellus SC", serif;
    color: #a89d9d;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    padding: 15px;
} 
.adresses{
    text-align: center;

}
.promo{
    background-image: url(../img/фонове\ зображення.jpg);
    background-position: center;
    height: 766px;
    vertical-align:;
}

.banner_text{ 
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 157.3%;
color: #FFFFFF;
}
.prapor_ban{
    padding-left: 50px;
    padding-top: 200px;
    
       
}
.banner{
   