body{
    margin: 0 auto;
width: 1000px;
height: 1763px;
background-color: #8d8989;
}

.content{
    margin: 0 auto;
    width: 934px;
    height: 1670px;
    left: 37px;
    top: 42px;
    border-radius: 0px;
    margin: 0 auto;
}
